{% extends 'base.html.twig' %}

{% block title %}Fitness Blog{% endblock %}

{% block body %}

            <h1>Najnowsze wpisy</h1>
            <section>
                <div class="posts">

                </div>
            </section>


{% endblock %}
{% block javascripts %}

{% endblock %}
